<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='//fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/sandstone/bootstrap.min.css">
		
		<title>Burger Time!</title>
	</head>
	<body>
		<div class="container">
		{{{ body }}}
		</div>
	</body>
</html>
